.footer-container{
    position: sticky;
    bottom: 0;
    background: var(--Primary-Color);
    z-index: 9;
    height: 8vh;
}

.footer-icons{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    padding: 10px 0;
}

.user-avatar-icon{
    background: var(--white);
    border-radius: 50%;
    height: 1.6rem;
    width: 1.5rem;
    cursor: pointer;
}
.user-avatar-image{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    border-radius: 50%;
}

@media (min-width:764px){
    .footer-container{
        display: none;
    }
}